<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0" th:fragment="header">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">VillaRent</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="/" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">VillaRent</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="/" th:class="${currentPage == 'home' ? 'nav-item nav-link active' : 'nav-item nav-link'}">Home</a>
                                <a href="/about" th:class="${currentPage == 'about' ? 'nav-item nav-link active' : 'nav-item nav-link'}">About</a>
                                <a href="/booking" th:class="${currentPage == 'booking' ? 'nav-item nav-link active' : 'nav-item nav-link'}">Booking</a>
                                <a href="/find" th:class="${currentPage == 'find' ? 'nav-item nav-link active' : 'nav-item nav-link'}">Find</a>
                                <a href="/contact" th:class="${currentPage == 'contact' ? 'nav-item nav-link active' : 'nav-item nav-link'}">Contact</a>
                                <div th:if="${ !#authorization.expression('isAuthenticated()')}">
                                    <a href="/auth/login" th:class="${currentPage == 'login' ? 'nav-item nav-link active' : 'nav-item nav-link'}">Login</a>
                                </div>
                                <div th:if="${ #authorization.expression('isAuthenticated()')}">
                                    <a href="/auth/logout" th:class="${currentPage == 'logout' ? 'nav-item nav-link active' : 'nav-item nav-link'}">Logout</a>
                                </div>
                                <a href="/auth/register" th:class="${currentPage == 'register' ? 'nav-item nav-link active' : 'nav-item nav-link'}">Registration</a>
                                <a href="/user" th:class="${currentPage == 'user' ? 'nav-item nav-link active' : 'nav-item nav-link'}">User</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" th:fragment="footer">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <a href="/"><h1 class="text-white text-uppercase mb-3">VillaRent</h1></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Beruniy 3A, Toshkent, UZB</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+998 99 457 71 50</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Service</h6>
                                <a class="btn btn-link" href="/about">About Us</a>
                                <a class="btn btn-link" href="/contact">Contact Us</a>
                                <a class="btn btn-link" href="">Privacy Policy</a>
                                <a class="btn btn-link" href="">Terms & Condition</a>
                                <a class="btn btn-link" href="">Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">VillaRent</a>, All Right Reserved.

                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
</body>
</html>