<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>

    <!-- Favicon -->
    <link th:href="@{/css/assets/img/favicon/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/css/villageAssets/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/villageAssets/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/css/villageAssets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/villageAssets/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/villageAssets/css/style.css}" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/css/villageAssets/lib/wow/wow.min.js}"></script>
    <script th:src="@{/css/villageAssets/lib/easing/easing.min.js}"></script>
    <script th:src="@{/css/villageAssets/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/css/villageAssets/lib/counterup/counterup.min.js}"></script>
    <script th:src="@{/css/villageAssets/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/css/villageAssets/lib/tempusdominus/js/moment.min.js}"></script>
    <script th:src="@{/css/villageAssets/lib/tempusdominus/js/moment-timezone.min.js}"></script>
    <script th:src="@{/css/villageAssets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/css/villageAssets/js/main.js}"></script>
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">VillaRent</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="/" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">VillaRent</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/booking" class="nav-item nav-link">Booking</a>
                        <a href="/find" class="nav-item nav-link">Find</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                        <div th:if="${ !#authorization.expression('isAuthenticated()')}">
                            <a href="/auth/login" class="nav-item nav-link">Login</a>
                        </div>
                        <div th:if="${ #authorization.expression('isAuthenticated()')}">
                            <a href="/auth/logout" class="nav-item nav-link">Logout</a>
                        </div>
                        <a href="/auth/register" class="nav-item nav-link">Registration</a>
                        <a href="/user" class="nav-item nav-link">User</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Main Start -->
<div class="notly p-5 d-flex content-center align-items-center" style="flex-direction: column; height:  705px;">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span>  Page not found</p>
        <p class="lead">
            The page you’re looking for doesn’t exist.
        </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>
<!-- Main End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="/"><h1 class="text-white text-uppercase text-center">VillaRent</h1></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Beruniy 3A, Toshkent, UZB</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+998 99 457 71 50</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Service</h6>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</body>
</html>